
front/node_modules/.cache/default-development/0.pack
front/node_modules/.cache/.eslintcache
front/node_modules/.cache/default-development/0.pack
front/node_modules/.cache/default-development/1.pack
front/node_modules/.cache/default-development/5.pack
front/node_modules/.cache/default-development/12.pack
front/node_modules/.cache/default-development/7.pack
front/node_modules/.cache/default-development/6.pack
front/node_modules/.cache/default-development/index.pack
front/node_modules/.cache/default-development/index.pack.old
