@font-face {
  font-family: Actay;
  src: url(../fonts/Actay/Actay-Regular.otf);
}
@font-face {
  font-family: Actay-Wait;
  src: url(../fonts/Actay/ActayWide-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: Actay;
}

body {
  background-color: #F9F9F9;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25vw;
  background: rgb(255, 255, 255);
}
header .logo {
  width: 179.53px;
  height: 70px;
}
header .logo img {
  width: 100%;
  height: 100%;
}
header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
}
header > div:first-child {
  gap: 2.34vw;
}
header > div:first-child a:last-child {
  text-decoration-line: underline;
}
header > div:first-child a:hover {
  color: #7BFF5A;
}
header .noAuth {
  gap: 2.7vw;
}
header .noAuth > a:first-child {
  background: rgba(117, 255, 52, 0.25);
  padding: 11px 21px;
}
header .noAuth > a:first-child:hover {
  background: rgb(116, 255, 52);
}
header .noAuth > a:last-child {
  background: rgb(123, 255, 90);
  padding: 11px 21px;
}
header .noAuth > a:last-child:hover {
  background: rgb(147, 254, 97);
}
header .Auth {
  gap: 1vw;
}
header .Auth a {
  width: 55px;
  height: 55px;
}
header .Auth a img {
  width: 100%;
  height: 100%;
}

.index {
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.index .line {
  position: absolute;
  height: 100%;
  right: 50%;
  top: 0;
}
.index > div {
  height: 100%;
  width: 150vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  transform: translateX(-50vw);
}
.index .doing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50vw;
}
.index .doing div {
  box-sizing: border-box;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 36px;
  background: rgb(232, 254, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 9px 23px 45px 23px;
  width: 30.83vw;
  height: 20vw;
}
.index .doing div h1 {
  font-family: Actay-Wait;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.index .doing div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.index .advantages-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
}
.index .advantages-wrap .advantages {
  width: 30.83vw;
  height: 42.29vw;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 36px;
  background: rgb(220, 254, 203);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index .advantages-wrap .advantages h1 {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0px 0px 30px 30px;
  padding: 10px 20px 0;
  border-top: none;
  font-family: Actay-Wait;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}
.index .advantages-wrap .advantages h2 {
  font-family: Actay-Wait;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.index .advantages-wrap .advantages p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.index .advantages-wrap .advantages img {
  width: 55px;
  transition: 0.3s;
}
.index .advantages-wrap .advantages img:hover {
  transform: translateX(10px);
}
.index .postman {
  height: 100%;
}

.galary {
  padding: 50px 6.25vw 0;
}
.galary .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.125vw;
}
.galary .header .search {
  width: 43.125vw;
  height: 100%;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.galary .header .search input {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 98%;
  padding-top: 6px;
  padding-left: 21px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .search button {
  background: none;
  border: none;
  width: 2vw;
  height: 2vw;
  padding-right: 10px;
}
.galary .header .search button img {
  height: 100%;
  width: 100%;
}
.galary .header .sort {
  height: 100%;
  padding: 0 18px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.galary .header .sort .green {
  color: rgb(123, 255, 90);
}
.galary .listStuff {
  margin-top: 62px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 3.125vw;
  width: 100%;
  box-sizing: border-box;
  background: #F9F9F9;
}
.galary .listStuff .card {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1.12vw;
  padding: 20px;
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 43px;
}
.galary .listStuff .card > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 1.23vw;
}
.galary .listStuff .card > div:first-child > div:first-child {
  width: 10.4vw;
  height: 10.4vw;
  border: #000 solid 2px;
  border-radius: 13%;
}
.galary .listStuff .card > div:first-child > div:first-child img {
  height: 100%;
  width: 100%;
}
.galary .listStuff .card > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child .img {
  width: 2.6vw;
  height: 2.6vw;
}
.galary .listStuff .card > div:first-child > div:last-child > div:first-child .img img {
  height: 100%;
  width: 100%;
}
.galary .listStuff .card > div:first-child > div:last-child > p {
  font-size: 3rem;
  font-weight: 700;
  line-height: 61px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galary .listStuff .card > div:first-child > div:last-child > button {
  width: 7.23vw;
  height: 2.6vw;
  background-color: #7BFF5A;
  border-radius: 40px;
  border: #7BFF5A solid 2px;
  color: #F9F9F9;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.galary .listStuff .card > div:first-child > div:last-child > button:hover {
  box-shadow: 0px 5px 20px 0px rgb(123, 255, 90);
}
.galary .listStuff .card > div:first-child > div:last-child > button:active {
  border: #000 solid 2px;
}
.galary .listStuff .card > div:last-child {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
.login .header {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.login .header > div:first-child {
  display: flex;
  flex-direction: row;
  margin-top: 4.375vw;
}
.login .header > div:first-child h1 {
  font-size: 3rem;
  font-family: Actay-Wait;
  font-weight: 700;
  line-height: 61px;
}
.login .header > div:first-child h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  margin-top: -10px;
}
.login .header > div:first-child > div:last-child {
  display: flex;
  align-items: start;
  margin-left: 20px;
}
.login .header > div:first-child input[type=checkbox] {
  display: none;
}
.login .header > div:first-child input[type=checkbox] + label {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 52px;
  height: 34px;
  border: #000 solid 5px;
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 17px;
}
.login .header > div:first-child input[type=checkbox] + label div {
  transition: 0.3s;
  width: 17px;
  height: 17px;
  border: #7BFF5A solid 5px;
  border-radius: 100%;
  box-sizing: border-box;
}
.login .header > div:first-child input[type=checkbox]:checked + label {
  border-color: #7BFF5A;
}
.login .header > div:first-child input[type=checkbox]:checked + label div {
  margin-left: 19px;
}
.login .header > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
.login .header > div:last-child h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
}
.login .header > div:last-child a {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  font-family: Actay-Wait;
}
.login form {
  padding: 0 3.25vw 0 6.25vw;
  box-sizing: border-box;
  width: 42vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form input {
  height: 3.7vw;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 40px;
  background: rgb(255, 255, 255);
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input::-moz-placeholder {
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input::placeholder {
  font-family: Actay;
  font-size: 1.5rem;
  font-weight: 400;
}
.login form input:not(input[type=submit]), .login form input:not(input[type=checkbox]) {
  width: 100%;
  padding: 0 3.54vw;
}
.login form input[type=submit] {
  padding: 20px 0;
  width: 60%;
}
.login form > a {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  margin-top: 30px;
  float: left;
}
.login form .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.login form .checkbox input[type=checkbox] {
  display: none;
}
.login form .checkbox input[type=checkbox] + label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 7px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 30px;
}
.login form .checkbox input[type=checkbox] + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
}
.login form .checkbox input[type=checkbox]:checked + label::before {
  background-color: #7BFF5A;
  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.login > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 58vw;
  background-color: #7BFF5A;
  padding: 0 2.6vw;
  box-sizing: border-box;
}
.login > div:last-child div {
  width: 100%;
  height: 35vw;
}
.login > div:last-child div img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */