<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>

    <section class="cart">
        <h1>Корзина заказов</h1>
        <div class="hr">
            <div>Выбери свой путь!</div>
        </div>

        <div class="cardList">
            <div class="accept">
                <div>
                    <h2>Минимальное расстояние</h2>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Минимальная цена</h2>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Минимальное время</h2>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>
                                <span>Список городов</span>
                                <span>Москва, Уфа </span>
                            </p>
                            <p>
                                <span>Расстояние</span>
                                <span>246км</span>
                            </p>
                            <p>
                                <span>Цена доставки</span>
                                <span>246р</span>
                            </p>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="dist">
                            <label for="dist"><div></div></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div>
                <button>Заказать</button>
                <button>Перейти в каталог</button>
            </div>
            <p class="priceWay">
                доставка: 980₽
            </p>
            <div>
                <p>итого: 980₽</p>
            </div>
        </footer>
    </section>
</body>
</html>