<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Add pVz</title>
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>
    <section class="LcabProd">
        <aside class="LcabHide">
            <section class="LcabUser">
                <div>
                    <img src="../img/User.svg" alt=""/>
                    <div class="user">
                        <p>продавец</p>
                        <img src="../img/box.svg" alt=""/>
                    </div>
                    <p>имя компании</p>
                    <button>
                        <p>Изменить пароль</p>
                        <img src="../img/key.svg" alt=""/>
                    </button>
                    <button>
                        <p>Удалить аккаунт</p>
                        <img src="../img/delProducer.svg" alt=""/>
                    </button>
                </div>
                
                <div>
                    <button>
                        <img src="../img/logout.svg" alt=""/>
                        <p>Выход из аккаунта</p>
                    </button>
                </div>
            </section>
            <div></div>
        </aside>

        <div class="redactShop">
            <div>
                <div><img src="../img/back.svg" alt="arrow" />Добавить</div>
            </div>
            <div>
                Пункты выдачи заказов
            </div>
            <div>
                Склады
            </div>
            <div class="active">
                Товары
            </div>
        </div>
        <div class="readactPanel">
            <div class="containerPanel">
                <div class="title">Добавить склад</div>
                <div class="grid-input">
                    <div class="input-g">
                        <p>Цена</p>
                        <input type="text" placeholder="Город..." />
                    </div>
                    <div class="input-g">
                        <p>Размеры</p>
                        <input type="text" placeholder="Город..." />
                    </div>
                    <div class="input-g">
                        <p>Имя</p>
                        <input type="text" placeholder="Город..." />
                    </div>
                    <div class="input-g">
                        <p>Масса</p>
                        <input type="text" placeholder="Город..." />
                    </div>
                </div>
                <div class="input-g">
                    <p>Город</p>
                    <input type="text" placeholder="Город..." />
                </div>
                <div class="pre-visible">
                    <div class="input">
                        <p><img src="../img/img.svg" alt="img">Загрузить карточку товара</p>
                        <input type="file">
                        <div class="btn">Добавить</div>
                    </div>
                    <div class="card-block">
                        <div class="card">
                            <div>
                                <div>
                                    <img src="../img/stuff.png" alt="">
                                </div>
                                <div>
                                    <div>
                                        <div class="img"><img src="../img/User.svg" alt=""></div>
                                        <p>Продовец</p>
                                    </div>
                                    <p>900р</p>
                                    <button>Купить</button>
                                </div>
                            </div>
                            <div>
                                <p>Название</p>
                                <div class="footer-card"><p>Продано 0</p> <div><span>1.75кг</span><span>17.5смХ20смХ40см</span></div></div>
                            </div>
                        </div>
                        <div class="btn">Список моих товаров</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

</body>
</html>