<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Add pVz</title>
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>
    <section class="LcabProd">
        <aside class="LcabHide">
            <section class="LcabUser">
                <div>
                    <img src="../img/User.svg" alt=""/>
                    <div class="user">
                        <p>продавец</p>
                        <img src="../img/box.svg" alt=""/>
                    </div>
                    <p>имя компании</p>
                    <button>
                        <p>Изменить пароль</p>
                        <img src="../img/key.svg" alt=""/>
                    </button>
                    <button>
                        <p>Удалить аккаунт</p>
                        <img src="../img/delProducer.svg" alt=""/>
                    </button>
                </div>
                
                <div>
                    <button>
                        <img src="../img/logout.svg" alt=""/>
                        <p>Выход из аккаунта</p>
                    </button>
                </div>
            </section>
            <div></div>
        </aside>

        <div class="redactShop">
            <div>
                <div><img src="../img/back.svg" alt="arrow" />Добавить</div>
            </div>
            <div>
                Пункты выдачи заказов
            </div>
            <div  class="active">
                Склады
            </div>
            <div>
                Товары
            </div>
        </div>
        <div class="readactPanel">
            <div class="containerPanel">
                <div class="title">Добавить склад</div>
                <div class="flex-input">
                    <div class="input">
                        <p>Город</p>
                        <input type="text" placeholder="Город..." />
                    </div>
                  
                    <div class="btn">Добавить</div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>