
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>

    <section class="cart">
        <h1>Корзина заказов</h1>
        <div class="hr"></div>

        <div class="cardList">
            <div class="empty">
                <h1>Ваша корзина пуста</h1>
                <div>Перейти в каталог</div>
            </div>
        </div>

        <footer></footer>
    </section>
</body>
</html>