<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>

    <section class="cart">
        <h1>Корзина заказов</h1>
        <div class="hr"></div>

        <div class="cardList">
            <div class="choosePVZ">
                <h1>Выбирай доставку как тебе удобно</h1>
                <div class="pvz">
                    <h2>Пункты выдачи</h2>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                    <p>адресс пвз</p>
                </div>
                <div class="type">
                    <h2>Отключи те способы доставки которые тебе не подходят</h2>
                    <div>
                        <div>
                            <p>Воздух</p>
                            <input type="checkbox" id="air">
                            <label for="air"><div></div></label>
                        </div>
                        <div>
                            <p>Корабль</p>
                            <input type="checkbox" id="ship">
                            <label for="ship"><div></div></label>
                        </div>
                        <div>
                            <p>Авто</p>
                            <input type="checkbox" id="car">
                            <label for="car"><div></div></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div>
                <button>Продолжить оформление заказа</button>
                <button>Перейти в каталог</button>
            </div>
            <div>
                <p>итого: 980₽</p>
                <p class="smoll-p">*без учета доставки</p>
            </div>
        </footer>
    </section>
</body>
</html>