<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="galary">

        <div class="header">
            <div class="search">
                <input type="text" placeholder="Поиск">
                <button>
                    <img src="../img/lens.svg" alt="">
                </button>
            </div>
            <div class="sort">
                <p>
                    Сортировать по
                    <span class="green">популярности</span>
                </p>
                <div>
                    <img src="../img/arrowBotom.svg" alt="">
                </div>
            </div>
        </div>
        <div class="listStuff">
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                        <button>Купить</button>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
            <div class="card">
                <div>
                    <div>
                        <img src="../img/stuff.png" alt="">
                    </div>
                    <div>
                        <div>
                            <div class="img"><img src="../img/User.svg" alt=""></div>
                            <p>Продовец</p>
                        </div>
                        <p>900р</p>
                    </div>
                </div>
                <div>
                    <p>Название</p>
                    <p>Продано 0</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>