<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="LcabProd">
        <aside class="LcabHide">
            <section class="LcabUser">
                <div>
                    <img src="../img/User.svg" alt=""/>
                    <div class="user">
                        <p>продавец</p>
                        <img src="../img/box.svg" alt=""/>
                    </div>
                    <p>имя компании</p>
                    <button>
                        <p>Изменить пароль</p>
                        <img src="../img/key.svg" alt=""/>
                    </button>
                    <button>
                        <p>Удалить аккаунт</p>
                        <img src="../img/delProducer.svg" alt=""/>
                    </button>
                </div>
                
                <div>
                    <button>
                        <img src="../img/logout.svg" alt=""/>
                        <p>Выход из аккаунта</p>
                    </button>
                </div>
            </section>
            <div></div>
        </aside>

        <div class="miShop">
            <div>
                <h1>Мой магазин</h1>
                <img src="../img/User.svg" alt=""/>
            </div>
            <div>
                Редактировать
            </div>
            <div>
                Добавить
            </div>
        </div>
    </section>
</body>
</html>