<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="../img/ЛОГО.png" alt="">
            </div>
            <a href="">о нас</a>
            <a href="">каталог</a>
        </div>
        <div class="Auth">
            <span>Привет, пользователь!</span>
            <a href="">
                <img src="../img/User.svg" alt="">
            </a>
            <a href="">
                <img src="../img/Cart.svg" alt="">
            </a>
        </div>
    </header>
    <section>
        <section class="LcabUser">
            <div>
                <img src="../img/User.svg" alt=""/>
                <div class="user">
                    <p>продавец</p>
                    <img src="../img/box.svg" alt=""/>
                </div>
                <p>имя компании</p>
                <button>
                    <p>Изменить пароль</p>
                    <img src="../img/key.svg" alt=""/>
                </button>
                <button>
                    <p>Удалить аккаунт</p>
                    <img src="../img/delProducer.svg" alt=""/>
                </button>
            </div>
            
            <div>
                <button>
                    <img src="../img/logout.svg" alt=""/>
                    <p>Выход из аккаунта</p>
                </button>
            </div>
        </section>
        <aside class="LcabHide">
            <img src="" alt="">
        </aside>
    </section>
</body>
</html>