<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="login">
        <div>
            <header>
                <div>
                    <div class="logo">
                        <img src="../img/ЛОГО.png" alt="">
                    </div>
                    <a href="">о нас</a>
                    <a href="">каталог</a>
                </div>
            </header>

            <form action="">
                <div class="header">
                    <div>
                        <div>
                            <h1>ВХОД</h1>
                        </div>
                    </div>
                    <div>
                        <h2>Нет аккаунта?</h2>
                        <a href="">ЗАРЕГЕСТРИРОВАТЬСЯ</a>
                    </div>
                </div>

                <input type="text" placeholder="Логин">
                <input type="password" placeholder="Пароль">
                <a href="">Забыли пароль?</a>
                <input type="submit" value="Войти">
            </form>
        </div>
        <div>
            <div>
               <img src="../img/woman.png" alt=""> 
            </div>
        </div>
    </section>
</body>
</html>