<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <section class="login">
        <div>
            <header>
                <div>
                    <div class="logo">
                        <img src="../img/ЛОГО.png" alt="">
                    </div>
                    <a href="">о нас</a>
                    <a href="">каталог</a>
                </div>
            </header>

            <form action="">
                <div class="header">
                    <div>
                        <div>
                            <h1>РЕГИСТРАЦИЯ</h1>
                            <h2>для покупателя</h2>
                        </div>
                        <div>
                            <input type="checkbox" name="" id="typeUser">
                            <label for="typeUser">
                                <div></div>
                            </label>
                        </div>
                    </div>
                    <div>
                        <h2>Есть аккаунт?</h2>
                        <a href="">ВОЙТИ</a>
                    </div>
                </div>

                <input type="text" placeholder="Логин">
                <input type="password" placeholder="Пароль">
                <input type="password" placeholder="Повторите пароль">
                <div class="checkbox">
                    <input type="checkbox" name="" id="accept">
                    <label for="accept">
                        <a href="">Я соглашаюсь с условиями политики безопасности и офертой</a></label>
                </div>
                <input type="submit" value="Зарегестрироваться">
            </form>
        </div>
        <div>
            <div>
               <img src="../img/box.png" alt=""> 
            </div>
        </div>
    </section>
</body>
</html>