@font-face {
    font-family: Actay;
    src: url(../fonts/Actay/Actay-Regular.otf);
}
*{
    margin: 0;
    color: inherit;
    text-decoration: none;
    font-family: Actay;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 6.25vw;

    background: rgb(255, 255, 255);

    .logo{
        width: 179.53px;
        height: 70px;
    }

    >div{
        display: flex;
        flex-direction: row;
        align-items: center;

        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
    }
    >div:first-child{
        gap: 2.34vw;

        a:last-child{
            text-decoration-line: underline;
        }
    }
    .noAuth{
        gap: 2.7vw;

        >a:first-child{
            background: rgba(117, 255, 52, 0.25);
            padding: 11px 21px;
        }
        >a:last-child{
            background: rgb(123, 255, 90);
            padding: 11px 21px;
        }
    }
    .Auth{
        gap: 1vw;

        a{
            width: 55px;
            height: 55px;
        }
    }
}